{% extends "templates/base.html" %}
{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        This is a blog where I post entries on technical topics.
                    </p>

                    <p>
                        The blog is created with Clojure, bootstrapped with the Luminus web framework.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
