{% extends "templates/base.html" %}
{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <div class="panel panel-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">Register</h2>
                </header>
                <div class="panel-body">
                    <form action="{{servlet-context}}/register" method="post">
                        <div>
                            <label for="id">User ID:</label>
                            <input type="text" name="id" value="{{id}}" />
                        </div>
                        <div>
                            <label for="id">Nick name:</label>
                            <input type="text" name="name" value="{{name}}" />
                        </div>
                        <div>
                            <label for="pass">Password:</label>
                            <input type="password" name="pass" />
                        </div>
                        <div>
                            <label for="pass">Repeat password:</label>
                            <input type="password" name="pass1" />
                        </div>
                        <div>
                            <input type="submit" value="Register" />
                        </div>
                        {% for error in errors %}
                        <div class="error">{{error}}</div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
